<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:panelGrid columns="2">
            <h:outputLabel for="txt_nome" value="Nome"></h:outputLabel>
            <p:inputText id="txt_nome"></p:inputText>
            <h:outputLabel for="txt_sobrenome" value="Sobrenome"></h:outputLabel>
            <p:inputText id="txt_sobrenome"></p:inputText>
            <h:outputLabel for="txt_login" value="Login"></h:outputLabel>
            <p:inputText id="txt_login"></p:inputText>
            <h:outputLabel for="pss_senha" value="Senha"></h:outputLabel>
            <p:password id="pss_senha"></p:password>
            <p:button value="Enviar"></p:button>
        </p:panelGrid>
    </h:body>
</html>

